.footer {
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    135deg,
    #0f0f0f,
    #1a1a1a
  );

  border-top: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
  overflow: hidden;
}

/* glowing line */



/* text styling */
.footer h1 {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 6px;

  color: #eaeaea;
  text-transform: uppercase;

  transition: all 0.4s ease;
}

/* hover effect */
.footer h1:hover {
  color: #00ff95;
  text-shadow:
    0 0 10px rgba(0, 255, 231, 0.7),
    0 0 25px rgba(127, 92, 255, 0.5);
  transform: scale(1.05);
}

/* animation */

