.footer1 {
    background: #4409e7;
    color: #f5f5f5;
    text-align: center;

    width: "1900px";
    height: auto;          /* adjust height here */

    display: flex;
    align-self: stretch; /* vertical center */
    justify-content: center; /* horizontal center */

    border-radius: 8px;
}